/*FOOTER*/
.bas_de_page{
    background-color: #D2CECB;
}

.bas_de_page{
    display: flex;
    padding: 2.5%;
}

.bdp{
    text-align: center;
    width: 33%;
}

.bdp a{
    color: grey;
    text-decoration: none;
}

.bdp a:hover{
    color: lightgray;
    text-decoration: none;
}

/*BODY*/
body{
    background-color: #FFFFFF;
    font-family:'Inclusive Sans', sans-serif;
    font-family: 'Red Rose', serif;
    color:#063084;
}

