body{
    background-image: url('images/background.png');
}


h1 {
    text-align: center;
    color:#063084;
    text-decoration: none;
}

h2{
    text-align: center;
    color: #F9E701
}

a{
    text-decoration: none;
    color:#063084;
}

header {
    background-color: white;
}

header h1:hover {
    font-style: italic;
}

.titre {
    background-image: url('images/contadores-illustration.jpg');
    padding: 10%;
    background-position: center;
}

h3{
    text-align: center;
    color: #063084;
}

/*FILMS*/
.film{
    float:left;
    color: #063084;
    padding-bottom: 2.5%;
    padding-left: 15%;
}

.affiche{
    position: relative;
    text-align: center;
    float: left;
    width: 20%;
    color: #063084;
    text-decoration: none;
}

.texte_film{
    float: left;
    width: 50%;
    background-color: white;
    border-radius: 15%;
}

.texte_affiche {
    position: absolute;
    top: 50%;
    left: 45%;
    display: none;
    color: white;
    text-decoration: none;
}

.affiche:hover .texte_affiche {
    display: block;
}

.affiche:hover img{
    opacity: 50%;
}

.presentation_distrib_prod p{
    text-align: center;
}

.actu{
    color: #063084;
    text-align: center;

}

