body{
    font-family:'Inclusive Sans', sans-serif;
    background-color: black;
}

.buffer{
    height: 25px;
}

/*FOOTER*/
footer {
    color: gray;
    text-align: center;
}

.infos_contact{
    float: left;
    width: 50%;
}

p{
    color: white;
}

