/*HEADER*/
.hautdepage{
    display: flex;
    padding: 2.5%;
    background-color: #FFFFFF;
}

.hdp {
    text-align: center;
    width: 33%;
    font-size: 25px;
    font-family:'Inclusive Sans', sans-serif;
    font-family: 'Red Rose', serif;
}

.hdp a{
    text-decoration: none;
    color: #063084;
}

.hdp a:hover{
    text-decoration: none;
    color: #7196B0;
}

.hdp #2{
    font-size: larger;
}

/*BODY*/
.body{
    font-family:'Inclusive Sans', sans-serif;
    font-family: 'Red Rose', serif;
    background-image: url('/images/background.png');
}

h1{
    
    text-align: center;    
}

h3{
    text-align: center;    
    padding-bottom: 2%;   
}

h4 a{
    color: white;
    text-decoration: none;
}

.illustration{
    background-size: cover;
    padding: 15%;
}

.main_infos{
    padding-top: 1%;
}

/*BLOCS*/
.block{
    display: flex;
}

.affiche {
    display: flex;
    justify-content: center;
    width: 50%;
}

.affiche img{
    width: 50%;
}

.synopsis {
    width: 50%
}

.synopsis p{
    width: 75%;
}

.team{
    width:26%;
    padding-top: 5%;
}

.buffer{
    width: 10%;
}


