/*BODY*/
body{
    background-color: black;
}

/* HEADER  */
.header h1{
    color: white;
    font-family:'Inclusive Sans', sans-serif;
}

.header {
    padding-top: 2%;
}

.header p {
    color: white;
}

.header h4{
    color: white;
    font-size: 100%;
}


.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.header li {
   float: left;
   padding-left: 50px;
}
  
.header li a {
    font-family:'Inclusive Sans', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
 
.header li a:hover {
    font-style: italic;
}

/*CAROUSEL_1*/
.container{
    width: 100%;
}

.carousel-inner .img{
    max-height: 20%;
    position: center;
}

.image_numero_1{
    background-image: url(../images/contadores-illustration.jpg);
    background-size: cover;
    
}

.titre_carousel{
    padding: 15%;
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Red Rose', serif;
    color: white;
    font-weight: 700;
}

.image_numero_2{
    background-image: url(../images/Les-eveillees-film-Nina-Bouchaud-Cheval.jpg);
    background-size: cover;
}

.image_numero_3 {
    background-image: url(../images/snow-in-september-illustration.jpg);
    background-size: cover;
}

/*CAROUSEL 2*/
.image_numero_1_small{
    background-image: url(../images/contadores-illustration.jpg);
    width: 40%;
}

.image_numero_2_small{
    background-image: url(../images/Les-eveillees-film-Nina-Bouchaud-Cheval.jpg);
    width: 40%;
}

.image_numero_3_small{
    background-image: url(../images/snow-in-september-illustration.jpg);
    width: 40%;
}

.titre_image_1{
    width: 55%;
    padding: 5%;
    text-align: left;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Red Rose', serif;
    color: white;
    font-weight: 700;
}

.content{
    display: flex;
}
