h1 {
    text-align: center;
    color: white;
    font-family: 'Inclusive Sans', sans-serif;
}

header {
    background-color: black;
}

.titre {
    background-image: url('../images/contadores-illustration.jpg');
    padding: 10%;
    background-position: center;
}

h3{
    text-align: center;
    color: white;
}
