h1 {
    text-align: center;
    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}

header {
    background-color: black;
}

header h1:hover {
    font-style: italic;
}

.titre {
    background-image: url('../images/contadores-illustration.jpg');
    padding: 10%;
    background-position: center;
}

h3{
    text-align: center;
    color: white;
}

/*FILMS*/
.film{
    float:left;
    padding: 5%;
    color: white;
}

.affiche{
    float: left;
    width: 20%;
}

.texte_film{
    float: left;
    width: 75%;
}
